@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
@import '~bootstrap';

/* CSS */
.title {
    color: green !important;
}

.loading {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
}

.MuiTablePagination-displayedRows {
    margin-top: inherit !important;
    margin-bottom: inherit !important;
}